<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <form class="account-form" action="/add-classification" method="post">
    <fieldset>
      <div class="form-group">
        <label for="classification_name">Add New Classification:</label>
        <input type="text" name="classification_name" id="classification_name" required pattern="[A-Za-z0-9]+" title="Classification name cannot contain a space or special character">
        <p class="input-hint">Classification name cannot contain a space or special character</p>
      </div>
      <input class="btn" type="submit" value="Add">
    </fieldset>
  </form>

  