<header id="top-header">
    <div class="siteName">
      <h1>CSE Motors</h1>
    </div>
    <div id="tools">
      <h2><!--<a title="Click to log in" href="/account/login"></a>-->MY ACCOUNT</h2>
    </div>
  </header>